
body {
    font-size: 17px;
    line-height: 1.25;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
}
a {
    color:rgb(57, 88, 230);
    text-decoration: none;
}
a:hover {
    color:rgb(255, 140, 0);
}
.date {
    color:gray;
    text-align: center;
    font-style: italic;
}